@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid bg-dark text-light py-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="display-4 mb-4">Welcome to the Online Library</h1>
            <h2 class="display-5 mb-4">Marzieh Eslami <br/> A00946909</h2>
            <p class="lead">Explore our vast collection of books and expand your horizons.</p>
        </div>
    </div>
</div>
